<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapknya"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapknya"
        android:supportsRtl="true"
        android:theme="@style/Theme.KosFomo.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuatTagihanActivity"
            android:exported="false" />
        <activity
            android:name=".TagihanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAddKamar"
            android:exported="false" />
        <activity
            android:name=".KamarActivity"
            android:exported="false" />
        <activity
            android:name=".AddPenghuniActivity"
            android:exported="false" />
        <activity
            android:name=".PenghuniActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>